{% extends "principal.html" %}
{% block contentido %}

  <h3>Lista de Equipos</h3>
  <p><b>Número de equipos: ({{numero_equipos}})</b> </p>
  <table id="tabla_datos">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Siglas</th>
      <th>Estadio</th>
      <th>Seguidores</th>
      <th>Campeonatos</th>
    </tr>
    </thead>
    <tbody>
    {% for equipo in equipos  %}
      <tr>
        <td>{{equipo.nombre}}</td>
        <td>{{equipo.siglas}}</td>
        <td>{{equipo.estadio}}</td>
        <td>{{equipo.seguidores}}</td>
        <td>{{equipo.campeonatos}}</td>
      </tr>
      {% endfor %}

    </table>
  </tbody>
    <script type="text/javascript">
      $(document).ready( function () {
          $('#tabla_datos').DataTable();
        });
    </script>
{% endblock %}
